.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

main {
  background: #fff;
  box-shadow: 0 0 14px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 30px 20px;
}

main p {
  font-size: 18px;
  text-align: center;
  margin: 18px 0;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  list-style: none;
}

button.btn-back {
  width: 100%;
  text-decoration: none;
  border: 0;
  margin-top: 30px;
  background: #246b91;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

button.btn-back:hover {
  background: #165272;
}

@media (max-width: 650px) {
  main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
